{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> {% comment %} link is relative to the website {%endcomment%}
				{%comment%}shows only wavywaterman and no image<img src="/home/pessec/home2/prog/code/4sem/IGI/IGIandSTRWEB/IGI/LR5/BookStore/polls/images/meme.png" alt="wavywaterman"/>{%endcomment%}
		{% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
