{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %} 
	<h1> {{ title }} </h1>
	{% for employee in employees %}
		<h3>{{ employee.vacancy.name }}</h3>
		{% if employee.image %}
			<img src="{{ employee.image.url }}" alt="Здесь должно быть изображение">
		{% endif %}
		<p>Имя, фамилия: {{ employee.user.first_name }} {{ employee.user.last_name }}</p>
		<p>Телефон: {{ employee.phone_number }}</p>
		<p>Почта: {{ employee.user.email }}</p>
		<hr>
	{% endfor %}
{% endblock %}
